.job-card-container {
    margin: 20px 0;
}

.job-card-wrapper .job-icon {
    fill: #fff !important;
}

.job-card-wrapper h2 {
    text-align: left;
}

.job-status {
    color: #141414;
    padding: 5px 20px;
    margin-top: 10px;
    width: fit-content;
    text-transform: uppercase;
    font-weight:700;
}