.sub-job-card-wrapper {
    padding: 20px;
    background-color: #141414;
    border: 1px solid #fff;
    margin: 0 10px;
}

.status-pill {    
    max-width: fit-content;
    color: white;    
    border-radius: 5px;
}

.status-pill p {
    font-size: 12px;
    padding: 5px 20px;
    font-weight: bold;
    text-transform: uppercase;
}